@model UserViewModel

<h3 class="mt-4 mb-4">Create Account</h3>

<div class="card shadow rounded p-3">
    <form asp-action="Register" method="post">

       <!-- TBC Complete form -->
       
    </form>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
